@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
   
*{
  font-family: Outfit;
}
.light-hover:hover {
  background-color: #fcf4ff;
}

.dark-hover:hover {
  background-color: #2a004a;
}

.dark-theme {
  background-color: #11001F;
}

/* Font Families */
.font-outfit {
  font-family: 'Outfit', sans-serif;
}

.font-ovo {
  font-family: 'Ovo', serif;
}

/* Box Shadows */
.hover-customb-shadow:hover {
  box-shadow: 4px 4px 0 #000;
}

.dark .hover-customw-shadow:hover {
  box-shadow: 4px 4px 0 #fff;
}

/* globals.css */
.grid-cols-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
